<!-- <div class="parallax"></div> -->
<!-- <div>Hey</div>
<div class="title-text">Keep it Cheap</div> -->

<div class="contain">
    <video autoplay muted loop id="myVideo">
        <source src="/assets/videos/glow.mp4" type="video/mp4">
      </video>

  <div class="contain" fxLayout="row" fxLayout.xs="column">
      <div class="contain-flex-box-left" fxFlex="0%">
          <div class="contain" fxLayout="column" fxLayout.xs="column">
              <div fxFlex="0%">
              </div>
              <div fxFlex="70%">
                <div class="title-text animated fadeInLeft">
                  Keep it Cheap
                </div>

                <div class="contain" fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="0%">
                    </div>
                    <div fxFlex="80%">
                        <div class="quote-text animated fadeInLeft">
                            Websites, affordable and professional.
                          </div>
                  </div>

                <!-- <div fxFlex="70%">
                    <div class="quote-text animated fadeInLeft">
                        Because expensive doesn't mean good.
                      </div>
                </div> -->
                <!-- <div fxFlex="50%">
                    hey
                </div> -->

                <!-- <div class="contain" fxLayout="column" fxLayout.xs="column">
                    <div fxFlex="0%">
                    </div>
                    <div fxFlex="50%">
                        <div class="quote-text animated fadeInLeft">
                            Because expensive doesn't mean good.
                          </div>
                    </div>
                </div> -->

              </div>
          </div>
      </div>

      <div class="contain-flex-box-right" fxFlex="50%">
      </div>
  </div>

</div>


<!-- <div class="contain-flex-box-right" fxFlex="65%">
                  <div class="contain" fxLayout="row" fxLayout.xs="column">
                      <div class="contain-flex-box-left" fxFlex="0%">
                        </div>
                      <div class="contain-flex-box-right" fxFlex="75%">
                          <div class="title-text">Keep it Cheap</div>
                      </div>
                  </div>
              </div> -->
          <!-- <div class="contain-flex-box-right" fxFlex="75%">
                  <div class="title-text">Keep it Cheap</div>
              </div>
          </div> -->


<!-- <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="1000" (complete)="onTypingAnimationComplete()">
              <div class="contain-logo">Keep it Cheap!</div>
              </span> -->
    
    
    
    <!-- <div class="bird-container bird-container--one">
      <div class="bird bird--one"></div>
    </div>
    
    <div class="bird-container bird-container--two">
      <div class="bird bird--two"></div>
    </div>
    
    <div class="bird-container bird-container--three">
      <div class="bird bird--three"></div>
    </div>
    
    <div class="bird-container bird-container--four">
      <div class="bird bird--four"></div>
    </div> -->
     
<!-- </div> -->


<!-- <div class="content"> -->
  <!-- <h1>Heading</h1>
  <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>
  <button id="myBtn" onclick="myFunction()">Pause</button> -->
<!-- </div> -->

  <!-- <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="1000">
    {{ stringInterpolation }}
  </span>
  <br>
  <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="1000" [hideCursorOnComplete]="true">
    Angular 4 Typing Animation Directive (hideCursorOnComplete)
  </span> -->
