.contain {
    color: #ffffff;
    height: 100px;
    background-color: rgb(164, 233, 245);
}
.divider-blue {
    color: #ffffff;
    height: 100px;
    background-color: rgb(164, 233, 245)
}

.divider-yellow {
    color: #ffffff;
    height: 100px;
    background-color: #FFF44D;
}