.contain {
    color: #ffffff;
    height: 100px;
    background-color: rgb(164, 233, 245);
}
.divider-blue {
    color: #ffffff;
    height: 100px;
    background-color: rgb(164, 233, 245)
}

.divider-pink {
    color: #ffffff;
    height: 100px;
    background-color: #E95FEB;
}
.divider-dark-blue {
    color: #ffffff;
    height: 100px;
    background-color: #000529;
    
}
.divider-pale-yellow{
    color: #ffffff;
    height: 100px;
    background-color: #FFF9BC;
    
}
