<!-- <div class="divider-blue">
    <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="1000" (complete)="onTypingAnimationComplete()">
        <div class="contain-logo">Keep it Cheap!</div>
      </span>
</div> -->
<div class="particles-wrapper-blue-pink"><app-particles></app-particles></div>
<app-summary></app-summary>
<div class="particles-wrapper-pink-yellow"><app-particles></app-particles></div>
<app-pricing></app-pricing>
<div class="divider-pale-yellow"></div>
<app-profile></app-profile>
<div class="particles-wrapper-yellow-pink"><app-particles></app-particles></div>
<!-- <div class="divider-particles"></div> -->
<app-contact></app-contact>