// .rendererContainer {
//     height:100px;
// }
.contain {
    // height: 400px;
}
.side-contain {
    // color: #ffffff;
    // height: 100px;
    background-color: white;
    padding: 10px 10px 10px 10px;
    // border-block-color: red 1px;
}

#rendererContainer {
    display: inline-block;
    // width: 400px;
    // height: 300px;
    // border: 5px solid blue;
}