* {
    margin: 0;
    /* padding: 0; */
    // color: white;
}
.bg-company-red {
    background-color: #000529 !important;
}
.element-text {
    color: white;
}
.nav-element {
    padding-left:30px;
}

.fa-element {
    color: white;
    font-size: 30px;
 }
