
<div class="contain" fxLayout="row" fxLayout.xs="column">
        <!-- <div class="" fxLayout="row" fxLayout.xs="column"> -->
    <div class="contain-flex-box-left" fxFlex="0%">
    </div>
    <div class="contain-flex-box-right" fxFlex="50%">
        <!-- <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="1000" (complete)="onTypingAnimationComplete()">
            <div class="contain-logo">Keep it Cheap!</div>
            </span> -->
            Pricing
        </div>
</div>