<app-nav></app-nav>
<app-header></app-header>
<app-body></app-body>
<app-footer></app-footer>

<!-- <i class="fa-element fas fa-kiwi-bird"></i> -->
<!-- <i class="fa-element fas fa-american-sign-language-interpreting"> </i>  -->
<!-- <i class="fa-element fa fa-kiwi-bird"></i> -->





<!-- <div fxLayout="row" fxLayout.xs="row">
    <div class="contain-flex-box-left" fxFlex="0%">
      dog
    </div>
    <div class="contain-flex-box-right" fxFlex="30%">
      hey
          </div>
</div> -->



<!-- <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"> -->
  <!-- <div class="item item-1" fxFlex="15%">Item 1</div>
  <div class="item item-2" fxFlex="20%">Item 2</div>
  <div class="item item-3" fxFlex="50%">Item 3</div> -->


  <!-- <div fxFlex="1 1 50%">1</div>
  <div fxFlex="1 1 auto">2</div>
  <div fxFlex="2 1 auto">3</div> -->

  <!-- <div fxFlex="8 1 auto">1</div>
  <div fxFlex="1 0 auto">2</div>
  <div fxFlex="1 0 auto">3</div>
</div> -->


<!-- <div class="container"
     fxLayout
     fxLayout.xs="row"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div>
  <div class="item item-5" fxFlex="1000px">Item 5</div>
</div> -->


<!-- <div class="column">
    <div class="row-2">col-8</div>
    <div class="row-10">col-4</div>
  </div> -->





<!-- <div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="item item-4" fxFlex fxFlexOffset="50px"  fxFlexOffset.xs="0">Item 4</div>
  <div class="item item-5" fxFlex="200px">Item 5</div>
</div> -->





<!-- <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="10%">
      hi
        <div class="quote-text animated fadeInLeft">Expensive doesn't mean good.</div>
    </div>
    <div fxFlex="50%">
    </div>
  </div> -->


<!-- <div class = "animated fadeInLeft">Hey</div> -->
<!-- <button onclick = "myFunction()">Reload page</button> -->
      
      <!-- <script>
         function myFunction() {
            location.reload();
         }
      </script> -->





<!-- <div class="title">
  Hello
</div> -->

<!-- <script>
var video = document.getElementById("myVideo");
var btn = document.getElementById("myBtn");

function myFunction() {
  if (video.paused) {
    video.play();
    btn.innerHTML = "Pause";
  } else {
    video.pause();
    btn.innerHTML = "Play";
  }
}
</script> -->


<!-- <div id="banner"><video autoplay muted loop id="myVideo">
          <source src="/assets/videos/dog.mp4" type="video/mp4">
        </video>
  </div> -->
