<div class="contain" fxLayout="row" fxLayout.xs="column">
        <!-- <div class="" fxLayout="row" fxLayout.xs="column"> -->
    <div class="contain-flex-box-left" fxFlex="0%">
            KEEP
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a pellentesque nisi, sed semper tellus. Nulla at est sit amet ipsum rhoncus hendrerit in vel enim. Aliquam erat volutpat. Morbi aliquam hendrerit elit ut ornare. Mauris ut eros vitae erat posuere vulputate ac ac justo. In hac habitasse platea dictumst. Quisque mi ex, dapibus nec ex a, viverra consequat lectus. Integer viverra arcu sit amet eros dignissim tincidunt. Nam id lacus neque. Phasellus varius ante mi, eu aliquet neque sagittis a. Phasellus elementum tellus ante. Cras egestas volutpat tortor, a interdum metus tincidunt sit amet. Ut euismod augue at diam suscipit ultrices. Suspendisse venenatis, erat vel dapibus ultricies, lorem est blandit magna, nec gravida ligula mauris vel dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </div>
    <div class="contain-flex-box-right" fxFlex="50%">
        <!-- <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="1000" (complete)="onTypingAnimationComplete()">
            <div class="contain-logo">Keep it Cheap!</div>
            </span> -->
    </div>
</div>