
.contain {
    height: 550px;
    // .contain-flex-box{
    //     height: 100%;
    //     // background-color: red;
    //     .side-contain{
    //         height: 100%;
    //         background-color: blue;
    //     }
    // }
}
.contain-flex-box-left{
    background-color: white;
    padding: 10px 10px 10px 10px;
}
.contain-flex-box-right{
    background: url('/assets/images/prof-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-image {
    /* The image used */
    background: url('/assets/images/profile.jpg');
    
    /* Add the blur effect */
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

.image-lights {
    // background-size: 100% 100%;
    // max-width:100%;
    // max-height:100%;
    // height: 100%; 
    // width: 100%; 
    // object-fit: contain;
    background: url('/assets/images/lights.jpg');

    // min-height: 800px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}